# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.sh text
*.patch text
*.md text
*.txt text

# Declare files that will always have CRLF line endings on checkout.
*.bat text eol=crlf
*.sh eol=LF

# Denote all files that are truly binary and should not be modified.
*.sopatch binary
